@model FunctionalFitness.Models.VideoViewModels.VideoViewModel


<h1>Your Videos</h1>




            <div style="width: 300px; height: 350px; overflow: auto">
                <table class="table">
                    <tr>

                        <td>
                            @if (Model.Title == null)
                            {
                                Model.Title = Model.Videos.First(c => c.ReleaseDays == 0).Title;
                            }
                            <iframe width="560" height="315" src="@Model.Videos.First(c => c.Title==Model.Title).EmbedUrl()" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </td>
                     </tr>
                        @foreach (Video vid in @Model.Videos)
                        {
                        <tr>
                            <td>
                                <img src=@vid.Thumbnail style="width:128px;height:128px;" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <form asp-controler="Video" asp-action="Index" method="get">
                                    <input type="text" name="title" value="@vid.Title" hidden />
                                    <input type=submit value="@vid.Title" />
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @vid.ReleaseDays
                            </td>
                        </tr>

                    }
                    </table>
            </div>
      
   



@if (Model.Videos.Count() == 0)
{
    <p>No Videos to see here!</p>
}